* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(244, 37%, 16%);
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}


.text {
    padding: 60px;
    width: 50%;
    color: white;
}

h1 {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 20px;
}

h1 span {
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 40px;
    line-height: 1.6;
}


.counts {
    display: flex;
    justify-content: space-between;
}

.counts h2 {
    font-size: 22px;
}

.counts span {
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);
    letter-spacing: 1px;
}


.image {
    width: 50%;
    background-image: url("image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}


.image::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: hsl(277, 64%, 61%);
    opacity: 40%;
}